*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background-color: #6b1d82;
}

.flex-container{
	display: flex;
}

nav{
	position: fixed;
	width: 100%;
	z-index: 9999;
	flex-wrap: wrap;
}

nav.flex-container{
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(0,0,0,0);

}

nav img{
	margin-right: auto;
	margin-left: 40px;
	padding-top: 10px;
}

nav a{
	flex-direction: row;
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	color: #333447;
	cursor: pointer;
	justify-content: flex-start;
}

nav a:hover:not(.active){
	background-color: #ff00bf;
	color: whitesmoke;
	border-radius: 20px;
}


/**/
.hide{
	display: none;
}

.scrolled{
	background-color: #EDE9E2;
	color: #333447;
}

nav .login{
	border: 2px solid whitesmoke;
	border-radius: 20px;
}

.login-new{
	border: 2px solid #ff00bf;
	border-radius: 20px;
	color: #ff00bf
}

/**/


video{
	max-width: 1350px;
}

.cajita-blanca{
	width: 450px;
	height: 370px;
	background-color: #EDE9E2;
	padding: 30px;
	position: absolute;
	top: 200px;
	right: 0;
}

.turn-miles{
	color: #352384; 
	padding-top: 10px;
	font-size: 55px;
	font-weight: bolder;
}

.sign-up{
	color: #352384;
	font-size: 15px;
	font-weight: bolder;
}

.number{
	width: 90%;
	height: 25px;
	color: #4E4D53;
	background-color: #EDE9E2;
	font-size: 15px;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #352384;
	margin-bottom: 5px;
}

.become-driver{
	margin-top: 8px;
	margin-bottom: 20px;
	color: #EDE9E2;
	background-color: #ff00bf;
	border: 0;
	border-radius: 10px;
	padding: 15px;
	width: 190px;
	box-shadow: 3px 5px 12px -3px rgba(0,0,0,0.50);
	cursor: pointer;
}

.signuptoride{
	padding: 15px;
} 

.apllied, .earn-money{
	color: #75726C;
	font-size: 10px;
	padding: 8px;
}

.link{
	text-decoration: none;
	color: #404040;
}

.link:hover:not(.active){
	text-decoration: underline;
}




/**/
.ride{
	flex-direction: column;
	padding: 120px;
	color: whitesmoke;
}
.cuerpo{
	background: linear-gradient(#6b1d82,#2b1e66)
}
.ride h4{
	margin: 30px 0 30px 0;
	font-size: 2em;
}

.ride .happy{
	margin: 0 0 30px 0;
}

.ride .happy1{
	margin: 30px 0 0 0;
}

.imgphone{
	margin-left: auto;
	margin-right: 50px;
	margin-top: 100px;
	width: 40%;
	height: 40%;
}

/**/

.vidios{
	background-color: whitesmoke;
	align-items: center;
	flex-direction: column;
}

.vidios h6{
	font-size: 1em;
}
.vidios h4{
	font-size: 2.5em;
	padding-bottom: 20px;
}

.vidios .el-texto{
	flex-direction: column;
	max-width: 675px;
	padding: 40px;
}
/**/

.futer{
	background-color: #333447;
	width: 100%;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
}

.las-a{
	text-decoration: none;
	color: whitesmoke;
	margin: 50px;
	text-align: right;
}


.las-a:hover{
	color: #ff00bf;
}

.futer h2{
	padding-left: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
}

hr{
 width: 750px;
}

.footer-login, .footer-partner, .footer-learn, .footer-imgs{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
}

.footer-rrss{
	margin: 60px;
	width: auto;
}

.footer-rrss a{
	padding: 5px 7px;
	font-size: 20px;
	color: whitesmoke;
	border: 2px solid whitesmoke;
	border-radius: 100px;
	margin: 40px;
}

.fa-facebook{
	padding: 0 5px;
}

.fa-instagram{
	padding: 0 2px;
}

.fa-twitter{
	font-size: 15px;
}

.footer-rrss a:hover{
	color: #ff00bf;
	border: 2px solid #ff00bf;
}

.img1, .img2, .img3{
	width: 100px;
	margin-right: 80px;
	margin-top: 40px;
}

footer p{
	margin: 40px;
}


/**/
